<% provide(:title, "Blog") %>
<div class="pageHeadline" style="background-image:url('<%=image_url 'ruby.jpg'%>'); max-width:100%;">
  <h2 style="color: #ffffff">Blog...</h2>
</div>

<section class="articleArchiv">
  <ul class="sameHeight">
    <%@articles.limit(9).reverse_order!.each do |article|%>
        <li class="wow animated zoomIn" data-wow-delay=".15s">
          <%= link_to  article do %>
              <span class="date"><%="#{time_ago_in_words(article.created_at)} ago"%></span>
              <h2><%=article.title%></h2>
              <div class="readMore">Read Article<i class="icon icon-arrow-right"></i></div>
          <%end%>
        </li>
    <%end%>
  </ul>
  <div class="pagination">
    <%= will_paginate @articles %>
  </div>
  <a href="https://twitter.com/bechirsegni" target="_blank" class="scrollDown LatestTweets">
    <i class="icon icon-twitter"></i>
  </a>
</section>

