<% content_for :title do %> <%=@article.title%> <% end %>
<section class="pageHeadline">
  <h2><%= @article.title %><span class="date"><span><%="#{time_ago_in_words(@article.created_at)} ago"%></span></span></h2>
</section>
<section class="blogDetailWrapper">
  <article class="articleWrapper">
    <p>
      Reading duration : <strong><%= @article.duration %></strong><br>
      <%if @article.tag_list.present?%>
          Tags :
          <strong>
            <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <%end%>
      </strong>
      <br>
      <%if user_signed_in?%>
          <%= raw link_to 'Destroy', @article , method: :delete, data: { confirm: 'Are you sure?' } %> , <%= link_to 'Edit', edit_article_path%>
      <%end%>
      <br><br>
    </p>
    <%if @article.image.present?%>
        <%=  image_tag @article.image.url(:normal) ,style: ' display: block; margin-left: auto; margin-right: auto; max-width:100%;' %>
    <%end%>
    <br><br>
    <p><%= raw @article.description %></p>

    <div class="sharing">
      <a target="_blank" title="<%=@article.title%>" href="http://twitter.com/home?status=<%=@article.title%>  &mdash; <%= request.original_url %> via @bechirsegni" class="icon icon-twitter"></a>
      <a target="_blank" href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="icon icon-facebook"></a>
      <a target="_blank" href="https://plus.google.com/share?url=<%= request.original_url %>" class="icon icon-googleplus"></a>
    </div>
    <br>
    <div id ="disqus_thread">
      <%= raw disqus_thread %>
    </div>
  </article>
  <div class="pagination">
    <div class="alignleft">
      <%= link_to("Previous Post", @article.previous_post) if @article.previous_post do %>
          <i class="icon lessMargin icon-arrow-left"></i>
      <%end%>
    </div>
    <div class="alignright">
      <%= link_to("Next Post", @article.next_post) if @article.next_post do %>
          <i class="icon lessMargin icon-arrow-right"></i>
      <%end%>
    </div>
  </div>
</section>