<% provide(:title, "Projects") %>
<div class="pageHeadline" style="background-image:url('<%=image_url 'projects.jpg'%>'); max-width:100%;">
  <h2>
    <span style="color: #ffffff">PROJECTS</span>
  </h2>
</div>
<section class="aboutWrapper" style="padding:0px;">
  <section class="experience">
    <div class="headline">PROJECTS</div>
    <ul><%@projects.reverse_order!.each do |project|%>
          <li>
            <div class="company" style="padding-left: 60px;">
              <%if project.logo.present?%>
                    <%=  image_tag project.logo.url(:medium) %>
                <%end%>
             </div>
            <div class="position">
              <h2><%= project.title%>
              </h2>
              <p><%= raw project.description%>
              </p>
              <a href="http://<%= project.url%>" target="_blank"><%= project.url%>
              </a>
            </div>
          </li><%end%>
    </ul>
    <h2 class="contact-text">Are you a small business?  Do you need a New website?</h2>
    <%= render 'contacts/new'%>
  </section>
  <section class="articleArchiv">
    <a href="https://twitter.com/bechirsegni" target="_blank" class="scrollDown LatestTweets">
      <i class="icon icon-twitter"></i>
    </a>
  </section>
</section>

