<div class="panel-body">

<%= form_for @education do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :duration %><br>
      <%= f.text_field :duration %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :university %><br>
      <%= f.text_field :university %>
    </p>

    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
    </div>